* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-blue: #4bb5ff;
  --primary-pink: #ff68a5;
  --light-pink: #ffeaea;
  --very-light-pink: #fff9f9;
  --text-black: #212121;
  --text-grey: #746868;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.4;
  font-style: normal;
}

hr {
  background-color: white;
  height: 2px;
  border: none;
}
h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -0.11rem;
  line-height: 0.9;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-pink);
  max-width: 100%;
  border-radius: 40px;
  margin: 1rem 2rem 0 2rem;
  height: 5rem;
  padding: 0 2.5rem;
}

/* Hero section styles */
.hero_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 4rem;
  max-width: 90%;
  margin-left: 4rem;
  margin-bottom: 7rem;
}
.videoContainer {
  height: 30rem;
}
.heroContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  gap: 2rem;
}
.heroCta {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.heroCtaBtn {
  background-color: var(--primary-blue);
  border: none;
  border-radius: 40px;
  height: 3rem;
  width: 10rem;
  font-size: 1.0rem;
  margin-bottom: -2rem;
}
.companyLogos {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: -1rem;
}

/* CTA styles */
.CTA {
  padding: 5rem 0 2rem 0;
  background-color: var(--light-pink);
}
.carts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin-left: 5rem;
  column-gap: 2rem;
}
.cart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  padding: 0 0 1rem 0;
}
.ctaTitle {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 5rem;
  margin-bottom: .5rem;
}
.cartContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}