* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-blue: #4bb5ff;
  --primary-pink: #ff68a5;
  --light-pink: #ffeaea;
  --very-light-pink: #fff9f9;
  --text-black: #212121;
  --text-grey: #746868;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.4;
  font-style: normal;
}

hr {
  background-color: white;
  height: 2px;
  border: none;
}
h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -0.11rem;
  line-height: 0.9;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-pink);
  max-width: 100%;
  border-radius: 40px;
  margin: 1rem 2rem 0 2rem;
  height: 5rem;
  padding: 0 2.5rem;
  color: #fff;
}

/* Hero section styles */
.hero_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 4rem;
  max-width: 90%;
  margin-left: 4rem;
  margin-bottom: 7rem;
}
.videoContainer {
  height: 30rem;
}
.heroContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  gap: 2rem;
}
.heroCta {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.heroCtaBtn {
  background-color: var(--primary-blue);
  border: none;
  border-radius: 40px;
  height: 3rem;
  width: 10rem;
  font-size: 1.0rem;
  margin-bottom: -2rem;
}
.companyLogos {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: -1rem;
}

/* CTA styles */
.CTA {
  padding: 5rem 0 2rem 0;
  background-color: var(--light-pink);
}
.carts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin-left: 5rem;
  column-gap: 2rem;
}
.cart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  padding: 0 0 1rem 0;
  border-radius: 10px;
}
.ctaTitle {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 5rem;
  margin-bottom: .5rem;
}
.cartContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
.ctaPrimary {
  padding: 4rem 2rem;
}
.price {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 2rem;
  border: 1px solid var(--text-grey);
}
.amount {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70%;
  justify-items: center;
  align-items: center;
}
.priceTags {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin-left: 4rem;
  margin-top: 1rem;
  column-gap: 2rem;
}
/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: -1px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.signBtn {
  background-color: var(--primary-blue);
  border: none;
  border-radius: 40px;
  height: 3rem;
  width: 15rem;
  font-size: 1.0rem;
  margin-left: 2rem;
  margin-top: 3rem;
}
/* Eric */
.line {
  background-color: white;
  height: 2px;
  border: none;
}
/* How It works section*/
.how-heading h1 {
  font-size: 65px;
  margin-bottom: 3rem;
}
.how-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20em;
  padding: 10px;

  h1 {
    color: var(--primary-blue);
    font-size: 108px;
  }
}
.how-it-works {
  /* padding-bottom: 20px; */
  padding: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* margin-left: 5rem; */
}
.how-paragraph {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
/* Trusted by section */
.trusted-by {
  padding-bottom: 20px;
  padding: 30px;
}

.trust-div {
  display: flex;
  flex-direction: row;
  gap: 6em;
  align-items: center;
  margin-top: 3rem;
}
.trust-img img {
  width: 768px;
  height: 48px;
}
.company-trust{
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-bottom: 20px;
  img {
      width: 160px;
      height: 60px;
  }
}

/* testimony section */
.test {
  display: flex;
  flex-direction: row;

  img {
    width: 110px;
    height: 110px;
    border-radius: 300px;
  }
}
.test {
  min-height: 390px;
}
.test-1 {
  background-color: var(--light-pink);
  padding: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.4em;
  padding: 100px auto;
  padding-top: 150px;
  padding-bottom: 150px;
}
.test-2 {
  background-color: var(--very-light-pink);
  padding: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.4em;
  padding-top: 150px;
  padding-bottom: 150px;
}
.r-sub-p {
  font-size: 1.6rem;
  font-weight: 500;
}
.text-test {
  text-align: center;
  padding-top: 10px;
  font-size: 0.1rem;
}
/* footer section */

.footer-section {
  display: flex;
  flex-direction: column;
  padding: 50px;
  line-height: 2.5;
  align-items: baseline;
}
.upper-side {
  display: flex;
  flex-direction: row;
  gap: 10em;
  padding-bottom: 150px;
  align-items: baseline;
}

.left-hand-side {
  display: flex;
  flex-direction: row;
  gap: 3em;
  white-space: nowrap;
}

.lower-side-content ul {
  display: flex;
  flex-direction: row;
  gap: 3em;
  list-style-type: none;
}
.first-right {
  display: flex;
  flex-direction: column;
  gap: -10px;
}

.r-sub {
  input {
    border: none;
    border-radius: 4px;
    background-color: var(--light-pink);
    padding: 15px 50px;
  }
  a {
    margin-left: 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-blue);
    padding: 12px 20px;
  }
}
.first-li {
  font-weight: 400;
  font-size: 1.2rem;
  padding-bottom: 15px;
}
.r-sub-text {
  font-size: 1.4rem;
}
.right-hand-content {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.r-join {
  margin-bottom: 30px;
}
.footer-line {
  background-color: var(--text-black);
  height: 2px;
  border: none;
  width: 1250px;
} */


/* Utility Classes*/
.container-lg {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}
.cont-vsm {
  max-height: 300px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.bg-light-pink {
  background-color: var(--light-pink);
}
.bg-primary-pink {
  background-color: var(--primary-pink);
}
.bg-very-light-pink {
  background-color: var(--very-light-pink);
}
.text-black {
  color: var(--text-black);
}
.text-grey {
  color: var(--text-grey);
}
.text-m {
  font-size: 1.2rem;
  font-weight: 400;
}
.text-l {
  font-size: 1.8em;
  font-weight: 400;
} */
